*{
    margin:0;
    padding:0;
    box-sizing: border-box;
   
     
}

@media screen and (min-width: 768px) {
  .container {
      
      padding: 20px;
  }

  
}
@media screen and (min-width: 1024px) {
  .container {
      
      padding: 30px;
  }

 
}
body{
    background-color: #8CC461;  
    
    font-family: 'Roboto', sans-serif;
}
.container{
  padding: 10px;
    padding-top:10px;
    position: relative;
   
    
}


.score{
    text-align: center;
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    font-size: 40px;
    line-height: 45px;
    color:#252525;
}
.score_area{
    border:2px solid #FFFFFF;
    border-radius: 13px;
    display:flex;
    flex-direction: row;
    margin-left:240px;
    margin-top:62px;
    margin-right:240px;
    flex:1;
    width: 1000px;
    height: 139px;
    flex-wrap: wrap;

}
.score_area .texta{
    padding:10px 10px;
    margin-left:20px;

}

.score_area h2{
    font-family: 'Roboto', sans-serif;
    font-size:28px;
    font-weight: 400px;

    color:#FFFFFF;
}
.compa h4{
    font-family: 'Roboto', sans-serif;
    color:#656565;
    font-weight:600;
    font-size:15px;
    line-height: 19.92px;
    text-align: center;
    letter-spacing: 3px;
}

.youra{
    background-color: #FFFFFF;
    margin-left:30px;
    margin-top:20px;
    margin-bottom:15px;
    border:2px solid #FFFFFF;
    border-radius: 9px;
    width:120px;
    height:100px;
    
}
.youra h4{
    font-family: 'Roboto', sans-serif;
    color:#656565;
    font-weight:600;
    font-size:15px;
    line-height: 19.92px;
    text-align: center;
    letter-spacing: 3px;
}

.compa{
    background-color: #FFFFFF;
    margin-left:550px;
    margin-top:20px;
    margin-bottom:15px;
    border:2px solid #FFFFFF;
    border-radius: 9px;
    width:120px;
    height:100px;
   
}
.area{
    position: relative;
    display: grid;
    grid-template-columns: (repeat(2,1fr));
    grid-template-areas: 
    "rock scissors"
    "paper paper";
    place-items: center;
    height:30rem;
    padding-top:4rem;

}
.area::before{
    content:"";
    position:absolute;
    width:100%;
    
    left:28%;
    top:35%;
    z-index: -1;
}

.choice{
    border:none;
    outline:none;
    background:none;
    cursor: pointer;
}
.game{
    position:relative;
    width:5rem;
    height:5rem;
    background:#FFFFFF;
    border-radius: 50%;
    display:grid;
    place-items: center;
    box-shadow: inset 0 0 1px #000000; 
    
}
.game::before,
.game::after{
    content:"";
    position:absolute;
    width:100%;
    height:100%;
    border-radius: 50%;
    z-index: -1;
}
.game::after{
    /* opacity: 0; */
    transition: opacity 0.4s ease;

}  
.choice:focus .game::after{
    opacity: 1;
    box-shadow:0 0 0 4px #FFFFFF;
    z-index: -2;
}
.game img{
    transform:scale(0.5);
}
 .game.rock::before{
    background: #FFFFFF;
    /* border:16px solid #0074B6;  */
    box-shadow: 0 0 0 10px #0074b6 ;
}
.game.scissors::before{
    background: #FFFFFF;
    /* border:16px solid #BD00FF;  */
    box-shadow: 0 0 0 10px #BD00FF ;
}
.game.paper::before{
    background: #FFFFFF;
    /* border:16px solid #FFA943;  */
    box-shadow: 0 0 0 10px #FFA943 ;
} 
.game.rock::after{
  
  border:10px solid #0074B6; 
  
}
.game.scissors::after{
  
  border:10px solid #BD00FF; 
 
}
.game.paper::after{
 
  border:10px solid #FFA943; 
  
}

.choice[data-choice="rock"]{
    grid-area: rock;
    margin-left:500px;
    
}

.choice[data-choice="scissors"]{
    grid-area: scissors;
    margin-right:500px;
}

.choice[data-choice="paper"]{
    grid-area: paper;
    transform: translateY(-50%);
}














  .results{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    place-items: center;
    grid-template-areas: 
    "you-title ai-title"
    "you-picked ai-picked";
    max-width: 1000px;
    margin:0 auto;
  }

  .results_header{
    font-size:17px;
    letter-spacing: 3px;
    line-height: 19.92px;
    font-weight: 600;
    color:#FFFFFF;
    padding:64px 0 80px;
    margin-right:80px;
    margin-bottom: 40px;
  }

  .result{
    min-width :10rem;
    min-height: 10rem;
  border-radius: 50%;
  transform: scale(1.4);
  z-index: -1;
}

.results_header:first-of-type {
  grid-area: you-title;
}
.results_header:last-of-type {
  grid-area: ai-title;
}
.result:first-of-type {
  grid-area: you-picked;
}
.result:last-of-type {
  grid-area: ai-picked;
}

.results.show-winner {
  grid-template-columns: repeat(3, 1fr);
  grid-template-areas:
    "you-title . ai-title"
    "you-picked result-winner ai-picked";
}

.winner .game::after {
    /* border:24px solid #3B6720;
    outline:24px solid #1DA82B; */
 box-shadow: 0 0 2px 25px #3B6720,0 0 1px 40px #1DA82BC9,0 0 1px 60px #2E9A2563;


  /* background: 0 1 62px 0 #2E9A25; */
  
  animation: winner 1s ease forwards;
}

@keyframes winner {
  from {
    opacity: 1;
  }
  to {
    opacity: 2;
  }
}

.results_winner {
  grid-area: result-winner;
  display: grid;
  place-items: center;
}
.results_text {
  font-size: 39px;
  text-align: center;
  color:#FFFFFF;
  font-weight: 800;
  line-height: 45.7px;
  letter-spacing: 3px;
  padding-bottom:30px;
  margin-right:50px;
}
.play-again-button{
  background: #fff;
  outline: none;
  border: 2px solid #FFFFFF;
  border-radius: 9px;
  color: #6B6B6B;
  padding: 8px 16px;
  font-size: 15px;
  font-weight: 600;
  letter-spacing: 5px;
  cursor: pointer;
  margin-right:70px;
 
}
.play-again-button:focus {
  border: 2px solid #FFFFFF;
}
  
  /* RULES AND MODAL */

  .rules{
    display:flex;
    flex-direction: column;
    justify-content: center;
    width:278px;
    height:350px;
    padding:1.3rem;
    background-color: #004429;
    color:white;
    border:7px solid #FFFFFF;
    border-radius:13px;
    position:fixed;
    bottom:100px;
    right:50px;
    
  }
  .hidden{
    display: none;
  }
  .close{
    display:flex;
    top:31%;
    margin-right:0%;
    position: fixed;
    right:2%;
    
  }
  .close button{
    background-color:#FF0000;
    width:50px;
    height:50px;
    font-family: 'Dangrek', cursive;
    font-weight: 400;
    font-size: 25px;
    color:white;
    border-radius: 50%;
    border:5px solid #FFFFFF;
    float:right;
    cursor:pointer;
    
    
    

  }
.rules h2{
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    font-size: 29px;
    line-height: 33.98px;
    color:#FFFFFF;
    text-align: center;

}
.rules ul{
    color:#FFD600;
    padding:8px 14px;
    list-style-type: square;
   
}
  
  .rules li p{
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size:13px;
    line-height: 15.23px;
    color:#ffffff;
    margin:10px 10px;
  }
  .btn{
   width:119px;
   height:40px;
   border:2px solid #FFFFFF;
   border-radius: 10px;
   font-family: 'Roboto', sans-serif;
   font-size: 21px;
   font-weight: 600;
   line-height: 24.61px;
   float:right;
   position: fixed;
   right:160px;
   bottom:40px;
   background-color: #8CC461;
   color: #FFFFFF;
   letter-spacing: 3px;
   cursor:pointer;

  }
  .next-btn{
    width:119px;
   height:40px;
   border:2px solid #FFFFFF;
   border-radius: 10px;
   font-family: 'Roboto', sans-serif;
   font-size: 21px;
   font-weight: 600;
   line-height: 24.61px;
   float:right;
   position: absolute;
   right:20px;
   bottom:40px;
   background-color: #8CC461;
   color: #FFFFFF;
   letter-spacing: 3px;
   cursor:pointer;
  }
/* Hurray Page */

.bg_imgs{
    position: relative;
}
.vector{
    position:absolute;
    left:150px;
    top:100px;
}
.hurray{
  justify-content: center;
  position:absolute;
  margin-top:100px;
  margin-left:500px;
}
.hurray-play-again-button{
  background: #fff;
  outline: none;
  border: 2px solid #FFFFFF;
  border-radius: 9px;
  color: #6B6B6B;
  padding: 8px 16px;
  font-size: 15px;
  font-weight: 600;
  letter-spacing: 5px;
  cursor: pointer;
  margin-right:70px;
 
}
.hurray .hurray-play-again-button{
  margin-left:150px;
  margin-top:50px;
}
.hurray_text h1{
    font-weight: 600;
    font-size:91px;
    line-height: 106.64px;
    letter-spacing: 10px;
    align-items: center;
    color:#FFFFFF;
}
.hurray_text h2{
    font-weight: 600;
    font-size:41px;
    line-height: 48.05px;
    letter-spacing: 5px;
    align-items: center;
    color:#FFFFFF;
}
  